/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(234, 214, 189);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #e80606;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #94a7e0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.about {
  text-align: center;
  padding: 20px 0;
}

.about h1 {
  margin: 0;
  font-size: 2.5em;
}

.about p {
  font-size: 1.2em;
  color: rgb(10, 8, 9);
}

.media-element {
  margin: 20px 0;
  text-align: center;
}

video,
audio {
  max-width: 100%;
  height: auto;
}
.responsive-picture {
  display: block;
  width: 100%;
  height: auto;
}

header {
  background: rgb(31, 31, 58);
  color: white;
  padding: 15px 0;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  color: rgb(107, 107, 225);
  text-decoration: none;
}

.signin {
  position: absolute;
  right: 20px;
  top: 10px;
}

.signin a {
  color: rgb(17, 17, 232);
  text-decoration: none;
}

.signin p {
  color: black;
}

main {
  padding: 25px;
}

section {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px blueviolet;
}

details summary {
  color: rgb(83, 53, 235);
}
#scrollToRop {
  display: block;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 106, 255);
  font-weight: bold;
}
#scrollToRop:hover {
  text-decoration: underline;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-image img {
  max-width: 100%;
  height: auto;
}

.form-content {
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: calc(70% - 100px);
  padding: 10px;
  margin: 0;
  border: 1px solid rgb(170, 170, 238);
  border-radius: 4px;
}

button {
  display: block;
  width: 10%;
  padding: 100px;
  background-color: rgb(33, 33, 237);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: rgb(210, 210, 238);
}

.form-group p {
  font-size: 15px;
}

.form-group p a {
  color: rgb(24, 24, 228);
  text-decoration: none;
}

.form-group p a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #aea8c6;
  color: rgb(35, 36, 30);
  position: fixed;
  width: 100%;
  bottom: 0;
}
